.canvas-container {
  display: flex;
  position: relative;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.mesh-renderer {
  display: flex !important;
  width: 100%;
  height: 100%;
}

/*Smartphone and Tablet*/
@media (max-width: 767px) {
  .canvas-container {
    height: 50%;
    width: 100%;
  }

  .canvas-container:first-child {
    border-bottom: 2px solid #010b13;
  }
}

/*Desktop and Laptop*/
@media (min-width: 768px) {
  .canvas-container:first-child {
    border-right: 2px solid #010b13;
  }
}

.axis-container {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
}

.orbital-container {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  right: 10px;
  bottom: 10px;
}

/*Smartphone and Tablet*/
@media (max-width: 767px) {
  .axis-container {
    right: 10px;
    top: 10px;
  }
}

/*Desktop and Laptop*/
@media (min-width: 768px) {
  .axis-container {
    left: 10px;
    bottom: 10px;
  }
}

.slicer-settings-container {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.canvas-container:first-child .slicer-settings-container {
  top: 2px;
  left: 2px;
}

/*Smartphone and Tablet*/
@media (max-width: 767px) {
  .canvas-container:last-child .slicer-settings-container {
    bottom: 2px;
    left: 2px;
  }
}

/*Desktop and Laptop*/
@media (min-width: 768px) {
  .canvas-container:last-child .slicer-settings-container {
    top: 2px;
    right: 2px;
  }
}

input[type="range"] {
  width: 150px;
}

.X-slider {
  accent-color: #ff8080;
}

.Y-slider {
  accent-color: #8080ff;
}

.Z-slider {
  accent-color: #80ff80;
}

.distortion-slider {
  accent-color: orange;
}

.distortion-slicer-settings-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  visibility: hidden;
}

/*Smartphone and Tablet*/
@media (max-width: 767px) {
  .distortion-slicer-settings-container {
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
  }
}

/*Desktop and Laptop*/
@media (min-width: 768px) {
  .distortion-slicer-settings-container {
    left: 50%;
    transform: translateX(-50%);
    top: 2px;
  }
}
