.canvas-container {
  display: flex;
  position: relative;
  height: 100%;
  width: 50%;
  overflow: visible;
}

.mesh-renderer {
  display: flex !important;
  width: 100%;
  height: 100%;
}

.canvas-container:first-child {
  position: relative;
  border-right: none;
}

.canvas-container:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #010b13;
}

.canvas-container:first-child.histogram-visible::after {
  height: 70%;
}

/*Smartphone and Tablet*/
@media (max-aspect-ratio: 1/1) {
  .canvas-container {
    height: 50%;
    width: 100%;
  }

  .canvas-container:first-child {
    border-right: 0px;
    border-bottom: 2px solid #010b13;
  }
}

.slicer-settings-container {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

#mesh1_canvas .slicer-settings-container {
  top: 2px;
  left: 2px;
}

#mesh2_canvas .slicer-settings-container {
  top: 2px;
  right: 2px;
  left: unset;
}

#histogram-divider {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 340px;
  height: 30%;
}

@media (max-aspect-ratio: 1/1) {
  .histogram-container {
    width: 80%;
    max-width: 300px;
    top: unset;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*Smartphone and Tablet*/
@media (max-aspect-ratio: 1/1) {
  .canvas-container:last-child .slicer-settings-container {
    top: auto;
    right: auto;
    bottom: 2px;
    left: 2px;
  }
}

input[type="range"] {
  width: 150px;
}

/*Smartphone and Tablet*/
@media (max-aspect-ratio: 1/1) {
  input[type="range"] {
    width: 100px;
  }
}

@media (min-aspect-ratio: 1/1) and (max-width: 768px) {
  input[type="range"] {
    width: 75px;
  }
}

.X-slider {
  accent-color: #ff8080;
}

.Y-slider {
  accent-color: #8080ff;
}

.Z-slider {
  accent-color: #80ff80;
}

.distortion-slider {
  accent-color: orange;
}

.distortion-slicer-settings-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  visibility: hidden;
}

.distortion-slicer-settings-container {
  left: 50%;
  transform: translateX(-50%);
  top: 2px;
}

/*Smartphone and Tablet*/
@media (max-aspect-ratio: 1/1) {
  .distortion-slicer-settings-container {
    left: 2px;
    transform: translateY(-50%);
    top: 50%;
  }
}