/*----------------------------The settings----------------------------*/
.settings-container {
  height: auto;
  background-color: #c1b2d5;
}

#map_settings {
  background-color: #d5cbb2;
}

.settings-container > :not(:last-child) {
  border-right: solid 2px #010b13;
}

/* Smartphone and Tablet */
@media (max-width: 767px) {
  #map_settings {
    border-top: solid 2px #010b13;
    border-bottom: solid 2px #010b13;
  }
}

/* Desktop and Laptop */
@media (min-width: 768px) {
  #map_settings {
    border-left: solid 2px #010b13;
    border-right: solid 2px #010b13;
  }
}

.dropdown {
  position: relative;
}

.dropbtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.dropbtn > p {
  font-weight: bold;
  margin-right: 5px;
}

.setting > p {
  margin-right: 5px;
}

.dropbtn > img,
.setting > img {
  width: 20px;
  height: 20px;
}

.dropcontent {
  display: none;
  position: absolute;
  z-index: 2;
  align-items: flex-start;
  margin-top: -2px;
  border: 2px solid #010b13;
  border-radius: 5px;
  background-color: #c1b2d5;
  box-shadow: #010b13 0px 0px 5px;
}

#map_settings .dropcontent {
  background-color: #d5cbb2;
}

.dropcontent > :not(:last-child) {
  border-bottom: solid 2px #010b13;
}

.dropcontent.open {
  display: flex;
  flex-direction: column;
}

.float-left {
  left: 0;
}

.float-right {
  right: 0;
}

.setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.margin-left {
  margin-left: 5px;
}

.margin-right {
  margin-right: 5px;
}

/*----------------------------The inputs----------------------------*/
.switch {
  position: relative;
  width: 38px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

.slider {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f3f3f3;
  transition: 0.4s;
  cursor: pointer;
  border: 1px solid black;
}

.slider:before {
  position: absolute;
  z-index: 1;
  left: 4px;
  bottom: 3px;
  width: 10px;
  height: 10px;
  background-color: black;
  transition: 0.4s;
  content: "";
}

input:checked + .slider {
  background-color: #d5cbb2;
}

#map_settings input:checked + .slider {
  background-color: #c1b2d5;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type="color"],
input[type="number"],
.reset-button,
.img-button {
  width: 38px;
  height: 17px;
  border-radius: 20px;
  background: #f3f3f3;
  border: 1px solid black;
  cursor: pointer;
}

.img-button.active {
  background: #d5cbb2;
}

input[type="number"] {
  width: 50px;
}

select {
  border-radius: 20px;
  background: #f3f3f3;
  border: 1px solid black;
  padding: 2px;
}

input[type="color"]::-webkit-color-swatch {
  width: 30px;
  height: 9px;
  border-radius: 16px;
  margin-top: -2px;
}

input[type="color"]::-o-color-swatch {
  width: 30px;
  height: 9px;
  border-radius: 16px;
  margin-top: -2px;
}

input[type="color"]::-moz-color-swatch {
  width: 30px;
  height: 9px;
  border-radius: 16px;
  margin-top: -2px;
}

.img-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-button > img {
  width: auto;
  height: 100%;
}
