.renderer-container {
  position: relative;
  height: 100%;
  border: 2px solid #010b13;
}

/*Smartphone and Tablet*/
@media (max-width: 767px) {
  .renderer-container {
    height: 50%;
  }

  #canvas > :last-child {
    border-top: 1px solid #010b13;
    border-bottom: none;
  }

  #canvas > :first-child {
    border-bottom: 1px solid #010b13;
    border-top: none;
  }
}

@media (min-width: 768px) {
  #canvas > :last-child {
    border-left: 1px solid #010b13;
    border-top: none;
    border-bottom: none;
  }

  #canvas > :first-child {
    border-right: 1px solid #010b13;
    border-top: none;
    border-bottom: none;
  }
}

.axis {
  position: absolute;
  z-index: 1;
  left: 10px;
  bottom: 10px;
  width: 100px;
  height: 100px;
}

.orbital {
  position: absolute;
  z-index: 1;
  right: 10px;
  bottom: 10px;
  width: 100px;
  height: 100px;
}

.slicer-settings-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  left: 2px;
  top: 2px;
  visibility: hidden;
}

.X-slider {
  accent-color: #ff8080;
}

.Y-slider {
  accent-color: #8080ff;
}

.Z-slider {
  accent-color: #80ff80;
}

.distortion-slider {
  accent-color: orange;
}

.distortion {
  border: 1px solid black;
  border-radius: 2px;
  background-color: #f3f3f3;
  padding: 2px;
  position: absolute;
  z-index: 1;
  right: 2px;
  top: 2px;
  color: black;
  visibility: hidden;
}

input[type="range"] {
  margin-right: 5px;
}

.reverse-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 20px;
  border: none;
  border-radius: 24px;
  margin-left: 5px;
  background-color: #f3f3f3;
  border: 1px solid black;
  cursor: pointer;
}

.distortion-reverse {
  margin-left: 0;
}

.reverse-button > img {
  width: auto;
  height: 100%;
}
