.info-section {
  padding: 5px;
  justify-content: center;
}

.info-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  overflow: hidden;
}

.info-details > p {
  flex-shrink: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.map-gradient {
  display: inline-block;
  height: 10px;
  width: 100px;
  background: linear-gradient(to right, white, red);
  border-radius: 5px;
  border: solid 1px black;
}

/*Smartphone and Tablet*/
@media (max-aspect-ratio: 1/1) {
  .map-gradient {
    width: 75px;
  }
}

@media (min-aspect-ratio: 1/1) and (max-width: 768px) {
  .map-gradient {
    width: 50px;
  }
}

.info-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.info-links img {
  display: block;
  width: 24px;
  height: 24px;
}

/*Smartphone and Tablet*/
@media (max-aspect-ratio: 1/1) {
  .info-section {
    padding: 3px;
    justify-content: flex-start;
  }

  .info-details {
    flex-direction: row;
    align-items: center;
  }

  .info-links {
    width: auto;
    height: auto;
  }

  .info-details > p:not(:last-child) {
    margin-right: 15px;
  }

  .info-links > a:not(:last-child) {
    margin-right: 15px;
  }

  .info-links img {
    width: 20px;
    height: 20px;
  }
}
