body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #f3f3f3;
}

#main_menu {
  height: auto;
  border: solid 2px #010b13;
}

#double_canvas {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-left: solid 2px #010b13;
  border-right: solid 2px #010b13;
}

#status_bar {
  height: auto;
  border: solid 2px #010b13;
}

p {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 16px;
}
