<div id="model-info" class="col-4 rowS info-section">
  <div class="info-title">
    <p><b>Model</b></p>
  </div>
  <div class="info-details">
    <p><b>Vertices: </b><span class="vertices-count">0</span></p>
    <p><b>Faces: </b><span class="faces-count">0</span></p>
    <p><b>Polyhedra: </b><span class="polyhedra-count">0</span></p>
  </div>
</div>
<div id="map-info" class="col-4 rowS info-section">
  <div class="info-title">
    <p><b>Map</b></p>
  </div>
  <div class="info-details">
    <p><b>Energy: </b><span class="map-energy">CONFORMAL</span></p>
    <p>
      <b>Gradient: </b><span class="map-gradient"></span></span>
    </p>
    <p><b>Clamp: </b><span class="map-clamp">[1, 12]</span></p>
  </div>
</div>
<div id="picker-info" class="col-4 rowS info-section">
  <div class="info-title">
    <p><b>Picker</b></p>
  </div>
  <div class="info-details">
    <p><b>Polyhedron: </b><span class="picker-polyhedron">-1</span></p>
    <p><b>Distortion: </b><span class="picker-distortion">-1</span></p>
  </div>
</div>
