<div id="map_settings" class="settings-container col-2 rowS">
  <!-- Map -->
  <div class="dropdown colS-12">
    <div class="dropbtn">
      <p>Map</p>
      <img src="./src/assets/img/dropdown_arrow.png" />
    </div>

    <div class="dropcontent float-left">
      <!-- Map Viewer -->
      <div class="setting">
        <p>Map Viewer:</p>
        <label class="switch">
          <input type="checkbox" class="map-toggle" />
          <span class="slider round"></span>
        </label>
      </div>
      <!-- Energy -->
      <div class="setting">
        <p>Energy:</p>
        <select class="energy-input" name="energy-input">
          <option value="CONFORMAL">Conformal</option>
          <option value="DIRICHLET">Dirichlet</option>
          <option value="SYMMETRIC-DIRICHLET">Symmetric-Dirichlet</option>
          <option value="ARAP">ARAP</option>
          <option value="MIPS3D">MIPS-3D</option>
        </select>
      </div>
      <!-- Clamping -->
      <div class="setting">
        <p>Clamping:</p>
        <input type="number" class="clamp-start-input" value="1" />
        <input type="number" class="clamp-end-input margin-left" value="12" />
      </div>
      <!-- Gradient -->
      <div class="setting">
        <p>Gradient:</p>
        <input type="color" class="gradient-start-input" value="#ffffff" />
        <input type="color" class="gradient-end-input margin-left" value="#ff0000" />
      </div>
      <!-- Degenerate -->
      <div class="setting">
        <p>Degenerate:</p>
        <label class="switch">
          <input type="checkbox" class="degenerate-color-toggle" />
          <span class="slider round"></span>
        </label>
        <input type="color" class="degenerate-color-input margin-left" value="#ffff00" />
      </div>
      <!-- Map -->
      <div class="setting">
        <p>Reverse Mapping:</p>
        <div class="reverse-mapping-button img-button">
          <img src="./src/assets/img/right_arrow.png" />
        </div>
      </div>
      <!-- Reset -->
      <div class="setting">
        <p>Reset:</p>
        <button class="reset-button"></button>
      </div>
      <!-- Distortion Slicer -->
      <div class="setting">
        <p>Distortion slicer:</p>
        <label class="switch">
          <input type="checkbox" class="distortion-slicer-toggle" />
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  </div>
</div>
