<div id="mesh{{i}}_settings" class="settings-container col-5 rowS">
  <!-- Mesh -->
  <div class="dropdown colS-4">
    <div class="dropbtn">
      <p>Mesh {{i}}</p>
      <img src="./src/assets/img/dropdown_arrow.png" />
    </div>

    <div class="dropcontent float-left">
      <!-- Load Mesh -->
      <div class="setting">
        <p>Load:</p>
        <input type="file" class="mesh-input" accept=".mesh" />
      </div>
      <!-- Load Sample Mesh -->
      <div class="setting">
        <p>Load sample:</p>
        <select class="sample-mesh-input" name="sample-mesh-input">
          <option value="hand_aigerman.mesh">Hand Aigerman (Domain)</option>
          <option value="hand_pc_aigerman.mesh">Hand Aigerman (Codomain)</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Rendering -->
  <div class="dropdown colS-4">
    <div class="dropbtn">
      <p>Rendering</p>
      <img src="./src/assets/img/dropdown_arrow.png" />
    </div>

    <div class="dropcontent float-left">
      <!-- Shell -->
      <div class="setting">
        <p>Shell:</p>
        <label class="switch">
          <input type="checkbox" checked="true" class="shell-toggle" />
          <span class="slider round"></span>
        </label>
      </div>
      <!-- Texture -->
      <div class="setting">
        <p>Texture:</p>
        <input type="color" class="mesh-color-input" value="#ffffff" />
      </div>
      <!-- Wireframe -->
      <div class="setting">
        <p>Wireframe:</p>
        <label class="switch">
          <input type="checkbox" checked="true" class="wireframe-toggle" />
          <span class="slider round"></span>
        </label>
        <input type="color" class="wireframe-color-input margin-left" value="#000000" />
      </div>
      <!-- Bounding Box -->
      <div class="setting">
        <p>Bounding Box:</p>
        <label class="switch">
          <input type="checkbox" class="bounding-box-toggle" />
          <span class="slider round"></span>
        </label>
      </div>
      <!-- Reset -->
      <div class="setting">
        <p>Reset:</p>
        <div class="reset-rendering img-button">
          <img src="./src/assets/img/reset_arrow.png" />
        </div>
      </div>
      <!-- Slicer -->
      <div class="setting">
        <p>Slicer:</p>
        <label class="switch">
          <input type="checkbox" class="slicer-toggle" />
          <span class="slider round"></span>
        </label>
        <!--
        <div class="img-button reset-slicer margin-left">
          <img src="./src/assets/img/reset_arrow.png" />
        </div>
        -->
      </div>
    </div>
  </div>

  <!-- Control -->
  <div class="dropdown colS-4">
    <div class="dropbtn">
      <p>Control</p>
      <img src="./src/assets/img/dropdown_arrow.png" />
    </div>

    <div class="dropcontent float-left">
      <!-- Axis -->
      <div class="setting">
        <p>Axis:</p>
        <label class="switch">
          <input type="checkbox" class="axis-toggle" />
          <span class="slider round"></span>
        </label>
      </div>
      <!-- Orbital -->
      <div class="setting">
        <p>Orbital:</p>
        <label class="switch">
          <input type="checkbox" class="orbital-toggle" />
          <span class="slider round"></span>
        </label>
      </div>
      <!-- Reset -->
      <div class="setting">
        <p>Reset:</p>
        <button class="reset-button reset-control"></button>
      </div>
    </div>
  </div>
</div>
