<!-- Status Bar Components -->
<!-- Model Information Section -->
<div id="model-info" class="col-3 rowS info-section">
  <div class="info-details">
    <p><b>Vertices: </b><span class="vertices-count">0</span></p>
    <p><b>Faces: </b><span class="faces-count">0</span></p>
    <p><b>Polyhedra: </b><span class="polyhedra-count">0</span></p>
  </div>
</div>
<!-- Map Information Section -->
<div id="map-info" class="col-3 rowS info-section">
  <div class="info-details">
    <p><b>Energy: </b><span class="map-energy">CONFORMAL</span></p>
    <p><b>Clamping: </b><span class="map-clamping">[1, 12]</span></p>
    <p><b>Gradient: </b><span class="map-gradient"></span></p>
  </div>
</div>
<!-- Picker Information Section -->
<div id="picker-info" class="col-3 rowS info-section">
  <div class="info-details">
    <p><b>Picker</b></p>
    <p><b>Polyhedron: </b><span class="picker-polyhedron">-1</span></p>
    <p><b>Distortion: </b><span class="picker-distortion">-1</span></p>
  </div>
</div>
<!-- Code & Tutorial Section -->
<div id="code-tutorial" class="col-3 rowS info-section">
  <div class="info-details">
    <p><b>Code & Tutorial</b></p>
    <div class="info-links">
      <a href="https://github.com/VOLMAP/viewer" target="_blank"
        ><img src="./src/assets/img/github_icon.png" alt="Code"
      /></a>
      <a
        href="https://github.com/VOLMAP/viewer/blob/main/tutorial.md"
        target="_blank"
        ><img src="./src/assets/img/tutorial_icon.png" alt="Tutorial"
      /></a>
    </div>
  </div>
</div>
